@page "/ListarCategoria"

<h3>Listagem de Categorias</h3>

<table class="table table-striped">
    <tr>
        <th>Código</th>
        <th>Descrição</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Terror</th>
    </tr>
</table>

@code {

}
